<%= render "/home/nav" %>
<div class="container mt-3">
<% @notes.each do |note| %>
<div class="container w-25 bg-white child_box mb-3 ">

    <div>
    <%= image_tag(note.user.profile_image , size:"40x40",class:"rounded-circle") if note.user.profile_image.attached? %>&nbsp; <b><%= link_to note.user.email, user_profile_path(note.user) , class:"text-decoration-none text-dark"%></b><br>
    <small class="text-secondary"><%= time_ago_in_words(note.created_at) %>Ago</small>
    </div>
    <%= note.note %>

</div>
<% end %>
</div>