<%= render "/home/nav" %>
<div class="container mt-3 bg-white rounded">
<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<div class="rows d-flex justify-content-around">
  <div class="col-5">
    <%= f.label :user_name %><br />
      <%= f.text_field :user_name, class:"form-control" %>
      <% resource.errors.full_messages_for(:user_name).each do | message | %>
        <small class="text-danger"><%= message %></small>
      <% end %>
  </div>
  <div class="col-5">
  <%= f.label :email %><br />
  <%= f.email_field :email, class:"form-control" %>
  </div>
</div><br>

<div class="rows d-flex justify-content-around">
  <div class="col-5">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name, class:"form-control" %>
  <% resource.errors.full_messages_for(:first_name).each do | message | %>
    <small class="text-danger"><%= message %></small>
    <% end %>
  </div>
  <div class="col-5">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name, class:"form-control" %>
  <% resource.errors.full_messages_for(:last_name).each do | message | %>
    <small class="text-danger"><%= message %></small>
    <% end %>
  </div>
</div><br>

<div class="rows d-flex justify-content-around">
  <div class="col-5">
  <%= f.label :profile_image %><br />
  <%= f.file_field :profile_image, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>
  <div class="col-5">
  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
  </div>
</div><br>


<div class="rows d-flex justify-content-around">
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <div class="col-3">
  <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control"%>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
      <i>(leave blank if you don't want to change it)</i><br />
    <% end %>
  </div>
  <div class="col-3">
  <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %> 
  </div>
  <div class="col-3">
  <%= f.label :bio %><br />
    <%= f.text_area :bio, class:"form-control" %> 
  </div>
  
</div>

<div class="rows d-flex justify-content-around">
<div class="col-3">
<b>Do you want to make private account?</b><br><%= f.check_box :private %> <%= f.label :private %>
</div>
<div class="col-4">
</div>
<div class="col-2">
</div>

</div>
<br>
<div class="actions pt-2">
<%= f.submit "Update" , class:"btn btn-outline-success btn-sm", style:"width:200px"%>
<%= link_to "Back", root_path, class:"btn btn-primary btn-sm",  style:"width:100px" %>
</div>
<% end %>
<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete , class:"btn btn-danger btn-sm"%></div><br>
</div>