<div class="container-fluid box">
<div class="container w-25 bg-white child_box">
<h2>Join us today!</h2>
<p class="text-secondary lh-base">Sign up now to become a member.</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :user_name %><br />
    <%= f.text_field :user_name, class:"form-control" %>
    <% resource.errors.full_messages_for(:user_name).each do | message | %>
      <small class="text-danger"><%= message %></small>
      <% end %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, class:"form-control" %>
    <% resource.errors.full_messages_for(:email).each do | message | %>
      <small class="text-danger"><%= message %></small>
      <% end %>
  </div>
    <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, class:"form-control" %>
    <% resource.errors.full_messages_for(:first_name).each do | message | %>
      <small class="text-danger"><%= message %></small>
      <% end %>
    </div>
  <div class="field">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name, class:"form-control" %>
  <% resource.errors.full_messages_for(:last_name).each do | message | %>
    <small class="text-danger"><%= message %></small>
    <% end %>
  </div>
  <div class="field">
  <%= f.label :gender %><br>
  <%= f.radio_button :gender, "male" %>
  <%= f.label :gender, "Male" %>
  <%= f.radio_button :gender, "Female" %>
  <%= f.label :gender, "Female" %><br>
  <% resource.errors.full_messages_for(:gender).each do | message | %>
    <small class="text-danger"><%= message %></small>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class:"form-control", id:"myInput" %>
    <% resource.errors.full_messages_for(:password).each do | message | %>
      <small class="text-danger"><%= message %></small>
      <% end %>
      <input type="checkbox" onlick="myFunction()" > show password
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class:"form-control" %>
    <% resource.errors.full_messages_for(:password_confirmation).each do | message | %>
      <small class="text-danger"><%= message %></small>
      <% end %>
  </div>

  <div class="actions mt-2">
    <%= f.submit "Sign up" ,class:"btn btn-success btn-sm" %>
  </div>
  <p class="text-center"> Already a member? <%= link_to "Login here", new_user_session_path %></p>
<% end %>
</div>
</div>

<script>
function myFunction(){
  var x = document.getElementById("myInput");
  if (x.type === "password"){
    x.type = "text";
  }else{
    x.type = "password";
  }
}
</script>
