<%= render "home/nav" %>
<div class="container mt-5 bg-white w-50" style="border-radius: 20px">
    
    <div class="rows d-flex">
        <div class="col-4 p-4">
                 <% if @user.profile_image.attached? %>
                             <%= image_tag(@user.profile_image, size:"200x200" , class:"rounded-circle border border-3 border-success ") if @user.profile_image.attached? %>
                    <% else %>
                        <% if @user.gender == "male" %>
                                <img src="https://cdn-icons-png.flaticon.com/128/4140/4140077.png", style="width:200px; height:200px" >
                        <% else %>
                                <img src="https://cdn-icons-png.flaticon.com/128/4140/4140047.png", style="width:200px; height:200px" >
                        <% end %> 
                <% end %>
                <h4 class="mt-1"> <%= @user.email %></h4>
        </div>
        <div class="col-8 d-flex text-center h-50 mt-5">
            <div class="col-4 ">
                <h1 > <%= @user.posts.count %></h1>
                <h4 class="fw-normal"> <%= (@user.posts.count) == 1 ? 'Post' : 'Posts'%></h4>
            </div>
            <div class="col-4">
                <h1> <%= link_to  @user.followers.count , followers_path(@user)%></h1>
                <h4 class="fw-normal"> <%= (@user.followers.count) == 1 ? 'Follower' : 'Followers'%></h4>
            </div>
            <div class="col-4">
                <h1><%= link_to @user.following.count,  following_path(@user)%></h1>
                <h4 class="fw-normal"> <%= (@user.following.count) == 1 ? 'Following' : 'Followings'%></h4>
            </div>
            
        </div>  
     </div>
</div>




