<%= render "home/nav" %>
<div class="container mt-5 bg-white w-50" style="border-radius: 20px">
    <%= link_to "edit profile", edit_user_registration_path, class:"btn btn-warning btn-sm " %>
    <div class="rows d-flex">
        <div class="col-4 pt-4">
                 <%= image_tag(@user.profile_image, size:"200x200" , class:"rounded-circle") if @user.profile_image.attached? %>
        </div>
        <div class="col-8 mt-5  ">
                 <h2><%= @user.email %></h2>
        </div>
    </div>
</div>
<div class="col">
<%= image_tag(@user.profile_image, size:"200x200", class:"rounded-circle") if @user.profile_image.attached? %>

<h3><%= @user.email %></h3>
</div>
<div class="col d-flex">
<div>
<%= link_to @user.following.count,  following_path(@user)%>
<p> Following </p>
</div>
<div>
<%= link_to  @user.followers.count , followers_path(@user)%>
<p> followers</P>
</div>
<div>
third
</div>
</div>