<%= render "/home/nav" %>
<div class="container mt-4 w-50  d-flex flex-wrap">
    <% @users.each do | user | %>
        <% if user != current_user || user.following == current_user || user.followers  == current_user %>
        <div class="card text-center m-2" style="width:47%">
        
        <% if user.profile_image.attached? %>
                 <div class="mt-2">    <%= image_tag(user.profile_image, size:"200x200",class:"rounded-circle") %>  </div>
        <% else %>
            <% if user.gender == "male" %>
            <div class="mt-2"><img src="https://cdn-icons-png.flaticon.com/128/4140/4140077.png", style="width:200px; height:200px" ></div>
            <% else %>
            <div class="mt-2"><img src="https://cdn-icons-png.flaticon.com/128/4140/4140047.png", style="width:200px; height:200px" ></div>
            <% end %> 
        <% end %>
        <div class="card-body ">
          <h6 class="card-title"><%= link_to  user.email,  user_profile_path(user) %></</h6>
          <% if current_user.following?(user) %>
          <%= button_to "Unfollow", unfollow_path(@user) , class:"btn btn-success mt-3 "%>
            <% elsif current_user.sent_follow_request_to?(user) %>
                <%= button_to "Cancel", cancel_path(user) , class:"btn btn-danger mt-3 "%>
            <% else %>
                <%= button_to "Follow", follow_path(user) , class:"btn btn-primary  mt-3" %>
            <% end %>     
        </div>
      </div>
     <% end %>
      <% end %>  
</div>