<%= render "/home/nav" %>
<div class="container mt-4 w-50  d-flex flex-wrap">
    <% @users.each do | user | %>
        <% if user != current_user %>
        <div class="card text-center m-2" style="width:47%">
            <div class=" d-flex justify-content-end p-1">
            <%= link_to root_path do %>
                <img src="https://cdn-icons-png.flaticon.com/128/10728/10728089.png", style="width:30px; height:30px" >
            <% end %>
            </div>
        <% if user.profile_image.attached? %>
                 <div class="mt-2">    <%= image_tag(user.profile_image, size:"200x200",class:"rounded-circle") %>  </div>
        <% else %>
            <% if user.gender == "male" %>
            <div class="mt-2"><img src="https://cdn-icons-png.flaticon.com/128/4140/4140077.png", style="width:200px; height:200px" ></div>
            <% else %>
            <div class="mt-2"><img src="https://cdn-icons-png.flaticon.com/128/4140/4140047.png", style="width:200px; height:200px" ></div>
            <% end %> 
        <% end %>
        <div class="card-body ">
          <h6 class="card-title"><%= link_to  user.user_name,  user_profile_path(user), class:"text-decoration-none text-dark" %></</h6>
            <% if current_user.following?(user) %>
                <%= button_to "Unfollow", unfollow_path(user) , class:"btn btn-success mt-3 w-75 unfollow_btn", remote: true, data: { action: 'unfollow', user_id: @user.id }%>
            <% elsif current_user.sent_follow_request_to?(user) %>
                <%= button_to "Cancel", cancel_path(user) , class:"btn btn-danger mt-3 w-75 cancel_btn ", remote: true, data: { action: 'cancel', user_id: @user.id }%>
            <% else %>
                <%= button_to "Follow", follow_path(user) ,method: :post, class:"btn btn-primary  mt-3 w-75 follow_btn", remote: true , data: { action: 'follow', user_id: @user.id }%>
            <% end %>     
        </div>
      </div>
     <% end %>
      <% end %>  
</div>
</body>
</html>