<%= render "/home/nav" %>
<%= render partial: "/posts/flash" %>
<div class="container mt-3">
    <div class='float-end'>
    <%= link_to "Create Story", new_user_story_path(current_user), class:"btn btn-primary btn-sm" %>
    </div>
    <% @storys.reverse.each do |story| %>
        <div class="container  bg-white child_box mb-2 " , style="width:380px">
            <div>
                <%= video_tag(story.story ,size:"350x500" ,controls: true) if story.story.attached? %>&nbsp;
                <div class="d-flex">
                <%= image_tag(story.user.profile_image , size:"40x40" , class:"rounded-circle") if story.user.profile_image.attached? %>&nbsp;&nbsp;<b class="pt-1"><%= story.user.user_name %></b>&nbsp;&nbsp;
                <% if current_user.id == story.user_id %>
                <%= button_to "Delete",  user_story_path(current_user, story), method: :delete, class:"btn btn-danger btn-sm" %>
                <% end %>
                </div>
                
                <small class="text-secondary"><%= time_ago_in_words(story.created_at) %>Ago</small>
                <%= render partial: 'home/like', locals: { likable: story} %>
            </div>
        </div>
    <% end %>
</div>