<div class="container-fluid box">
<div class="container w-25 bg-white child_box">
<h2>Welcome back!</h2>
<p class="text-secondary lh-base">log into access your account</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
     <%= f.label :email_or_username %><br/>
      <%= f.text_field :login, class:"form-control" %>
      <% resource.errors.full_messages_for(:login).each do | message | %>
        <small class="text-danger"><%= message %></small>
        <% end %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, class:"form-control" ,id:"myInput" %>
    <% resource.errors.full_messages_for(:password).each do | message | %>
      <small class="text-danger"><%= message %></small>
      <% end %>
      <input type="checkbox",class="checkbox" > show password
    <div style="text-align: right">
   <small> <%= link_to "Forgot your password?", new_password_path(resource_name) %></small>
    </div>
  </div>



  <div class="actions">
    <%= f.submit "Log in" ,class:"btn btn-success btn-sm" %>
  </div>
  <p class="text-center"> Not a member? <%= link_to "Signup here", new_user_registration_path %></p>
<% end %>
</div>
</div>
