<%= render "/home/nav" %>
<div class="container w-25 mt-4">
<% @posts.reverse.each do |post| %>
    <div class="card" >
        
            <div class="d-flex">
                <div>
                         <%= image_tag(post.user.profile_image, size:"40x40" ,class:"rounded-circle mt-1") if post.user.profile_image.attached? %>
                </div>
                <div>
                    <%= post.user.email %>
                    <small class="text-secondary "> <%= post.location %></small>
                </div>
                <div class="btn-group dropright">
                <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://cdn-icons-png.flaticon.com/128/2311/2311524.png" style="width:25px; height:25px" %>
                </button>
                            <div class="dropdown-menu mr-5">
                                <%= link_to "Show QR" , class:"dropdown-item" %>
                            </div>
                 </div>
            </div>
            <%= image_tag(post.image , class:"img-fluid" ) if post.image.attached? %>
            <div class="mt-1">
                 <small class="text-secondary ">  <%= time_ago_in_words(post.created_at) %>Ago</small><br>
                 <span> <img src="https://cdn-icons-png.flaticon.com/128/833/833472.png", style="width:30px; height:30px">
                 <span> <img src="https://cdn-icons-png.flaticon.com/128/6460/6460733.png", style="width:30px; height:30px">
                 </span>
                <p class="card-text"><%= post.title %></p> 
            </div>
            </div>
            </br>
            <% end %>
    </div>
    
  </div>  
