<%= render "home/nav" %>
<div class="container mt-5 ">
<div class="rows d-flex bg-white ">
    <div class="col-4 p-2">
        <h5><%= image_tag(@post.user.profile_image, size:"20x20",class:"rounded-circle") if @post.user.profile_image.attached?  %><%= @post.user.email %></h5>
         <%= image_tag(@post.image ,size:"400x400" , class:"rounded" ) if @post.image.attached? %>
         <div>
         <% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>
         <% if pre_like %>
           <%= button_to post_like_path(@post, pre_like), method: :delete, class:"bg-white btn btn-link"  do %>
            <img src="https://cdn-icons-png.flaticon.com/128/833/833472.png", style="width:30px; height:30px">
            <% end %>
         <% else %>
           <%= button_to post_likes_path(@post), method: :post, class:"bg-white btn btn-link" do %>
            <img src="https://cdn-icons-png.flaticon.com/128/1077/1077035.png", style="width:30px; height:30px">
            <% end %>
         <% end %>
            <p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
         </div>
    </div>
    <div class="col-8">
         <h3> <%= @post.title %> 
            <% if @post.user_id == current_user.id%>
            <%= link_to "Edit post",  edit_user_post_path(current_user, @post) , class:"btn btn-primary btn-sm mt-2" %>
            <%= link_to "Delete post",  user_post_path(current_user, @post) ,data:{ turbo_method: :delete} ,class:"btn btn-danger btn-sm mt-2" %>
            <% end %>
         </h3>
        <small class="text-secondary lh-1">  <%= time_ago_in_words(@post.created_at) %>Ago</small><br>
        <% if @post.comments.present? %>
            <div  style= "height:300px; overflow-y: scroll;">
                        <% @post.comments.reverse.each do | comment | %>
                            <%= image_tag(comment.user.profile_image, size:"20x20",class:"rounded-circle") if comment.user.profile_image.attached?  %>  <%= comment.user.email %>
                            <% if comment.user_id == current_user.id %>
                            <%= link_to "edit",  edit_user_post_comment_path(current_user, @post, comment)%>  <%= link_to "delete", user_post_comment_path( current_user, @post, comment), method: :delete%>
                            <% end %><br>
                            <small class="text-secondary  "> <%= time_ago_in_words(comment.created_at) %>Ago</small><br>
                            <small> <%= comment.comment %></small><br>
                        <% end %>    
            </div>
        <% end %>
            <%= form_with model: [current_user ,@post ,Comment.new] do | form | %>
                <%= form.label :comment %>
                <%= form.text_field :comment, class:"form-control" %>
                <%= form. submit "Add Comment" ,class:"btn btn-success btn-sm mt-2"%>
            <% end %>
    </div>
</div>
</div>