<%= render "home/nav" %>
<div class="container mt-4 w-75 border-rounded-3">
<div class="rows d-flex bg-white">
    <div class="col-6 p-3">
        <h5><%= image_tag(@post.user.profile_image, size:"30x30",class:"rounded-circle") if @post.user.profile_image.attached?  %> &nbsp;<%= @post.user.email %></h5>
         <%= image_tag(@post.image ,size:"470x450" , class:"rounded m-2" ) if @post.image.attached? %><br>
         <small class="text-secondary lh-1">  <%= time_ago_in_words(@post.created_at) %>Ago</small>
 

         <!--------- like section ------>
     

         <!------end ----->
    </div>
    <div class="col-6 m-2">
         <h3> 
         <div class="d-flex">
         <%= @post.title %>  &nbsp;
            <% if @post.user_id == current_user.id%>
            <%= link_to "Edit post",  edit_user_post_path(current_user, @post) , class:"btn btn-outline-primary btn-sm mt-2" %> &nbsp;
            <%= button_to "Delete post",  user_post_path(@post) ,method: :delete ,class:"btn btn-outline-danger btn-sm mt-2" %>
            <% end %>
            </div>
         </h3>
      
      
        <% if @post.comments.present? %>
            <%= render "/comments/comment" %>
        <% end %>
        <div class="w-50">
        <%= form_with model: [current_user ,@post ,Comment.new] do | form | %>
            <%= form.text_field :comment, class:"form-control rounded-pill", placeholder:"Add Your Comment...."%>
            <%= form. submit "Add Comment" ,class:"btn btn-success rounded-pill mt-2"%>
        <% end %>
        </div>
    </div>
</div>
</div>